/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/
.with-us-section hr{
  background-color: #28a745;
  height: 3px;
  width: 30vw;
  max-width: 300px;

}
.with-us-section div div div h4{
  color: black;
  text-transform: uppercase;
  font-weight: bold;

}
.with-us-section div div div .cta-btn {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;

}
.with-us-section div div div .cta-btn:hover {
    color: #18d26e;
    background: #fff;
    font-weight: bold;
    border: 2px solid #18d26e;
}
.service-sec .container{
  margin-top: 0;
  margin-bottom:0 ;
}
#call-to-action div hr{
  background-color: white;
  height: 2px;
  width: 30vw;
  max-width: 100px;
}
.service-main {
  padding-left: 3px;

}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner2 .active,
    .carousel-inner2 .active + .carousel-item2,
    .carousel-inner2 .active + .carousel-item2 + .carousel-item2 {
        display: block;
    }

    .carousel-inner2 .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner2 .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item2,
    .carousel-inner2 .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item2 + .carousel-item2 {
        transition: none;
        margin-right: initial;
    }

    .carousel-inner2 .carousel-item-next,
    .carousel-inner2 .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner2 .active.carousel-item + .carousel-item2 + .carousel-item2 + .carousel-item2 {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }



    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item2,
    .carousel-item-next.carousel-item-left + .carousel-item2 + .carousel-item2,
    .carousel-item-next.carousel-item-left + .carousel-item2 + .carousel-item2 + .carousel-item2 {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner2 .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item2,
    .carousel-item-prev.carousel-item-right + .carousel-item2 + .carousel-item2,
    .carousel-item-prev.carousel-item-right + .carousel-item2 + .carousel-item2 + .carousel-item2 {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
figcaption{
  font-weight: bold;
  color: black;
  padding: 5px;
}
.service-sec .container header {
    padding: 10px;
    width: 100vw;
}
.carousel-item2 figure img{
  height: 200px;
  width: 250px;
}
.carousel-item2 figure{
  text-align: center;
  margin: 20px;
}
